# Bibliotecas essenciais para manipulação de dados
pandas==2.0.3
numpy==1.23.5

# Scikit-learn para machine learning
scikit-learn==1.3.0

# Optuna para otimização de hiperparâmetros
optuna==3.2.0

# SHAP para interpretabilidade de modelos
shap==0.42.1

# Bibliotecas de visualização
matplotlib==3.8.0
seaborn==0.12.2

# XGBoost
xgboost==1.7.6

# Keras para manipulação de dados de imagem e deep learning
keras==2.12.0

# Outros
scipy==1.11.2
